rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /audits/{auditId} {
      allow read, write: if true;
    }
    match /admins/{uid} {
      allow read, write: if true;
    }
  }
}
